h1 {
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
}
h2 {
    font: bold 15px sans-serif
}
header,nav, section,article,footer,aside,hgroup{
    display: block;
}
body{
    text-align: center;
}
div{
    width: 960px;
    border: 1px solid black;
    margin: 15px auto;
    
}